body{
  font-family: 'Open Sans';
  background: #e5f5e8;
  color: #474c48;
}

#root{
  width: 60%;
  margin: 0 auto;
}

header h1{
  font-family: 'Indie Flower';
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

hr{   
  border: 0;
  border-top: 1px solid #eee;
}

button{
  margin: 0 0 1.2em 1em;;
  font-family: 'Open Sans';
  border-radius: 0.25em;
  border: 1px solid rgb(220, 220, 220);
  display: inline-block;
  cursor: pointer;
  color: rgb(102, 102, 102);
  font-size: 15px;
  padding:0.3em 1.8em;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  background: linear-gradient(rgb(239, 239, 239) 5%, rgb(249, 249, 249) 100%) rgb(233, 233, 233);
}

/*Recipe Box*/
.recipe-box{
  background: #f5f5f5;
  padding: 1em;
  border: 1px solid #c7c7c7;
  border-radius: .25em;
}

.tab {
  position: relative;
  margin-bottom: 0.175em;
  width: 100%;
  overflow: hidden;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

input[type=checkbox]:checked ~ .tab-content {
    max-height: 50em;
}

input[type=checkbox]{
  display:none;
}

.recipe-box label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  border-radius: .35em;
  background: #baf3c5;
  font-weight: bold;
  line-height: 2.5;
  cursor: pointer;
}

/*Accordion Icon*/
.recipe-box label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

input[type=checkbox] + label::after {
  content: "\25BC";
}

input[type=checkbox]:checked + label::after {
  transform: rotateX(180deg);
}

/*Recipe Ingredients*/
.ingredients{
  width: 90%;
  margin: 1.2em auto;
}

.ingredients h4{
  text-align: center;
}

.ingredients ul{
  list-style-type: none;
  padding: 0;
}

.ingredients li {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-bottom: none;
}
.ingredients li:first-child {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.ingredients li:last-child {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  border-bottom: 1px solid #ccc;
}
.info{
  font-size:11px;
  top: -1em;
  position: relative;
}

/*Recipe Buttons*/
.recipe-buttons{
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

/*Add Edit Recipe*/
.add-edit-recipe{
  display: block;
  padding: 1.2em;
}
.add-edit-recipe label{
  font-weight: bold;
  font-size: 15px;
}
.add-edit-recipe input, textarea{
    width: 100%;
    max-width: 100%;
    padding: 0.5em 1.0em;
    margin: 0.5em 0 1.2em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}
.add-edit-buttons{
  text-align: right;
  margin-bottom: -1.2em;
}

/*Modal*/
.modal {
    position: fixed; 
    padding-top: 5em;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 0.25em;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-header {
    padding: 2px 16px;
    background-color: #baf3c5;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
.modal-header h2{
    margin: 0.5em;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 2px 16px;
    background-color: #b4e2b4;
    color: white;
}
.close {
    color: #aaa;
    float: right;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #474c48;
    text-decoration: none;
    cursor: pointer;
}

/*Modal animation*/
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

    